.btn {
  display: inline-block;
  border-radius: 19px;
  color: #fff;
  border: none;
  padding: 7px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 30px;
  cursor: pointer;

  &--red {
    background-color: #FE5F5F;
  }

  &--blue {
    background-color: #3865A7;
  }
}

button {
  cursor: pointer;
}
