.btn {
  display: inline-block;
  margin-right: 30px;
  border: none;
  border-radius: 19px;
  padding: 7px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s, background-color 0.3s;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.7;
    background-color: -webkit-linear-gradient(45deg, rgb(152, 207, 195) 51%, rgb(86, 181, 184));
  }

  &:active {
    opacity: 0.6;
    background-color: -webkit-linear-gradient(45deg, rgb(152, 207, 195) 51%, rgb(86, 181, 184));
  }

  &--red {
    background-color: #fe5f5f;
  }

  &--blue {
    background-color: #3865a7;
  }
}

button {
  cursor: pointer;
}
