.business {
  border-radius: 0% 0% 80% 80%;
  background-color: #F1F2F2;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 135px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  &__descr {
    margin: 0 auto;
    max-width: 552px;
    margin-bottom: 39px;
  }
}
