.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 30px 15px;
  background-color: #2f2f2f;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__list {
    display: flex;
    margin-bottom: 20px;
  }

  &__item {
    grid-column: span 8;

    &:not(:last-child) {
      margin-right: 44px;
    }
  }

  &__link {
    color: #fff;
  }

  &__mail {
    @include tablet {
      display: block;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 10px;
      padding: 0;
      margin-right: 0;
      background-color: #fe5f5f;
      width: 44px;
      height: 44px;
      font-size: 0;
      background-image: url("../img/mail.png");
      background-position: center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
    }
  }

  &__phone {
    @include tablet {
      display: block;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.08);
      border-radius: 10px;
      padding: 0;
      margin-right: 0;
      background-color: #fe5f5f;
      width: 44px;
      height: 44px;
      font-size: 0;
      background-image: url("../img/phone.svg");
      background-position: center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
    }

  }

}

address {
  grid-column: span 4;
}
