.header {
  width: 100%;
  padding: 35px 0;
  position: absolute;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    margin-right: auto;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    background-color: transparent;

    &--accent {
      position: relative;
      padding-left: 43px;

      &::before {
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 38px;
        height: 38px;
        background-image: url("../img/icon-help.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    // .header__help

    &__help {}
  }
}
