.story {
  padding-bottom: 176px;
  text-align: center;

  &__bottom {
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 107px;

    &--reset {
      flex-direction: row-reverse;
    }
  }

  &__image {
    display: inline-block;
  }

  &__content {
    max-width: 587px;
  }

  &__title {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
  }

  &__descr-height {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;

    &--red {
      color: #fe5f5f;
    }
  }

  &__descr {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
  }

  &__btn {
    background-image: url("../img/arrow.svg");
    background-position: center right;
    background-repeat: no-repeat;
  }
}
