<div class="benefits">
  <div class="container">
    <h2 class="title">Преимущества</h2>
    <ul class="benefits__list list-reset">
      <li class="benefits__item">
        <div class="benefits__digit benefits__digit--first">482</div>
        <div class="benefits__descr">
          Организаций поддержки по Российской Федерации
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__digit benefits__digit--second">5240</div>
        <div class="benefits__descr">
          Оказано услуг государственной поддержки
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__digit benefits__digit--third">1360</div>
        <div class="benefits__descr">Зарегестрировано участников проекта</div>
      </li>
    </ul>
  </div>
</div>
