<div class="story">
  <div class="container">
    <h2 class="title">Истории успеха</h2>
    <ul class="story__list list-reset">
      <li class="story__item">
        <div class="story__image"></div>
        <div class="story__content">
          <h3 class="story__title">Пекарня &laquo;Русские традиции&raquo;</h3>
          <div class="story__descr-height story__descr--red">
            Как говорит сам Владимир: «мне хотелось, чтобы все узнали, что такое
            русская кухня», «обьяснить, что она жива».
          </div>
          <div class="story__descr">
            Чтобы мини-пекарня стала рентабельным бизнесом, необходимы строгие
            расчеты, учет рисков и перспектив, анализ рынка, налаживание сбыта.
          </div>
          <a class="story__btn btn btn--blue" href="#">Читать историю</a>
        </div>
      </li>
      <li class="story__item">
        <div class="story__image"></div>
        <div class="story__content">
          <h3 class="story__title">Автомастерская</h3>
          <div class="story__descr-height story__descr--red">
            Первые дни независимости. Когда не&nbsp;нужно рано вставать, когда
            не&nbsp;нужно отпрашиваться, что&nbsp;бы успеть съездить
            в&nbsp;магазин, когда удобно.
          </div>
          <div class="story__descr">
            Встреча в&nbsp;городе&nbsp;Н с&nbsp;моими будущими партнерами была
            плодотворной. Я&nbsp;не&nbsp;смог заснуть до&nbsp;пяти
            утра&nbsp;&mdash; не&nbsp;потому что не&nbsp;спалось, но&nbsp;потому
            что мысли о&nbsp;будущих перспективах просто взрывали мой мозг.
          </div>
          <a class="story__btn btn btn--blue" href="#">Читать историю</a>
        </div>
      </li>
      <li class="story__item">
        <div class="story__image"></div>
        <div class="story__content">
          <h3 class="story__title">Салон красоты &laquo;Эмират&raquo;</h3>
          <div class="story__descr-height story__descr--red">
            Когда&nbsp;же появилась возможность открыть свой бизнес,
            я&nbsp;рассматривала различные варианты, изучала всевозможные
            направления.
          </div>
          <a class="story__btn story__btn--wight btn btn--blue" href="#"
            >Читать историю</a
          >
        </div>
      </li>
    </ul>
  </div>
</div>
